/* Navbar styles */
.navbar {
    background-color: #218afa;
    padding: 1rem;
    margin-top: 7px;
    margin-left:13px;
    margin-right:13px;
    border-radius: 5px;
  }
  
  .navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    margin: 0 auto;
  }
  
  .navbarBrand {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbarToggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .navbarIcon {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin: 5px 0;
  }
  
  /* Navbar menu styles */
  .navbarMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .navbarItem {
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  
  .navbarItem:hover {
    background-color: #0056b3;
    border-radius: 4px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbarToggle {
      display: block;
    }
  
    .navbarMenu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #007bff;
    }
  
    .navbarMenu.isOpen {
      display: flex;
    }
  
    .navbarItem {
      padding: 1rem;
    }
  }
  
  /* Homepage container styles */
  .homepageContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  /*slider*/
  .sliderMenu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #007bff;
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    z-index: 1;
  }
  .sliderMenu.isOpen {
    left: 0;
  }
  
  .sliderItem {
    color: #ffffff;
    padding: 1rem;
    margin-inline: 5px;
    text-decoration: none;
    border-radius: 5px;
  }
  .sliderItem:hover {
    background-color: #ffffff;
    color: rgb(78, 78, 78);
  }
  