
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginContainer {
  background-image: url('/home/aeyravat/Downloads/NewsLetter/Frontend/src/styles/newspaper.jpg');
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: blur(5px);
}
.loginContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.144);  
  backdrop-filter: blur(3px);  
  z-index: -1;  
}

.loginForm {
  background-color: rgba(255, 255, 255, 0.342); /* Semi-transparent overlay */
  padding: 20px 40px;
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  max-width: 400px;
  width: 100%;
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
}

.inputGroup {
  margin-bottom: 15px;
}
.loginForm h2 {
  margin-bottom: 20px;
  color: #3d3d3d;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
.inputGroup label {
  margin-bottom: 5px;
  color: #3d3d3d;
  font-size: 16px;
  font-weight: lighter;
  display: block;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.button {
  padding: 10px;
  display: block;
  margin-bottom: 8px;
  margin-inline:auto;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}



button:hover {
  background-color: #0056b3;
}

.errorMessage {
  color: #eb2222;
  font-size: 16px;
  text-align: center;
  padding: 4px;
}

.para {
  color: #535353;
  font-size: 16px;
  text-align: center;
}

.noUnderline {
  text-decoration: none;
  color: #504fb3; 
}

.noUnderline:hover {
  text-decoration: underline; 
}

